[run]
omit = coverage-reports/*, demos/*, tests/*, venv/*, test_all.py

[html]
directory = coverage-reports/html

[xml]
output = coverage-reports/coverage.xml

[report]
exclude_lines =
    if __name__ == .__main__.:
    if self.is_logging:
