click==6.7
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
Flask==1.0.2
Flask-Cors==3.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nltk==3.4
numpy==1.14.3
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
regex==2017.4.5
singledispatch==3.4.0.3
six==1.11.0
spacy==2.0.11
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.23.3
ujson==1.35
Werkzeug==0.14.1
wrapt==1.10.11
