<!DOCTYPE html>
<html>

<head>
    <title>OpenReq Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/jquery.highlighttextarea.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.highlighttextarea.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<body>
<div class="container-fluid">
    <h2 id="ambiguity-title"></h2>
    <div class="row top-buffer">
        <div id="col-ambiguity-text" class="col-xs-12 col-md-12">
            <div id="result"></div>
        </div>
    </div>
    <hr>
    <div id="row-ambiguity-result" class="row">
        <div id="legend1" class="col-xs-12 col-md-6"></div>
        <div id="legend2" class="col-xs-12 col-md-6"></div>
    </div>
    <hr>
    <div class="row">
        <div id="ambiguity-counts" class="col-xs-12">
        </div>
    </div>
</div>
</body>

</html>